.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 50%;
  grid-gap: 2em;
  align-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
} 

th, td {
  border: 1px solid #dddddd;
  padding: 0.3em;
}

.centered {
  text-align: center;
  vertical-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.accordion {
  background: #efefef;
  display: none;
}

.active {
  display: table-row;
  width: 100%;
}

.description {
  padding: 0 1em;
}

.date-info {
  text-align: right;
}

i {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.info {
  background: #c3fdd2;
  padding: 0.1em 0.5em;
  margin-bottom: 1em;
  border-radius: 5px;
}