table{
  width: 100%;
  border-collapse: collapse;
} 

th, td {
    border: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.accordion{
  background: #efefef;
  display: none;
}

.active{
  display: table-row;
  width: 100%;
}

.description{
  height: 50px;
}

.editable{
  display: none;
}

.input-active{
  display: table-column;
}